/* COLORS! */
@backgroundColor: #222222;
@accentBackgroundColor: #111111;
@buttonColor: #111111;
@textColor: #EEEEEE;

/* OTHER FILES! */
@import "icons.less";

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: @backgroundColor;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 5px;
  background-color: @accentBackgroundColor;
  color: @textColor;
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

.footer {
  position: absolute;
  bottom: 0;
}

.container {
  width: 100%;
  text-align: center;
}

.resizable {
  border-style: solid;
  border-width: 2px;
  border-color: @accentBackgroundColor;
}

.thirds {
  width: 33.33333333%;
  float: left;
  height: auto;
}

.subtitle {
    color: gray;
}

.right {
  float: right;
}

button {
  color: @textColor;
  background-color: @buttonColor;
  border-width: 0;
}
