* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: #222222;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 5px;
  background-color: #111111;
  color: #EEEEEE;
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

.header button {
  -webkit-app-region: no-drag;
}

.container {
  width: 100%;
  text-align: center;
}

.subtitle {
    color: gray;
}

.right {
  float: right;
}
